/* ESTILOS TABLAS */

/* TABLA ORDENES */

.columnaEstado {
    width: 200px;
}

.columnaPatente {
    width: 100px;
}

.columnaLlegada {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.columnaProblema {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.columnaDevolucion {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* TABLA AUTOS */

.columnaPatente {
    max-width: 150px;
}

.columnaAnio {
    width: 100px;
}

/* TABLA PAGOS PENDIENTES */

.columnaFechaPendientes {
    width: 30px;
    max-width: 30px;
}

.columnaOrdenPendientes {
    width: 25px;
    max-width: 25px;
}

.columnaCobroPendientes {
    width: 35px;
    max-width: 35px;
}

.columnaPagoPendientes {
    width: 110px;
    max-width: 110px;
}