:root {
    --bg-color: #006666;
}

body {
    background-color: var(--bg-color);
}

.navbar {
    --bs-navbar-brand-margin-end: 0;
}

.menuCard{
    width: auto;
    background-color: transparent;
}

.navbarTitulo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbarTitulo:hover {
    color: white;
}

.offcanvas-backdrop {
    height: 100%;
}

.row {
    justify-content: space-between;
}

div.dtsp-topRow.dtsp-bordered {
    border: none;
}

table {
    vertical-align: middle!important;
}

.filaAdjunto {
    justify-content: flex-start;
}

.adjuntoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btnFacturacion, .btnTrabajo{
    width: 13rem;
}

.btnRecibo,.btnPresupuesto{
    width: 15rem;
}

/* ESTILOS TABLAS */

/* TABLA ORDENES */

.columnaEstado {
    width: 5rem;
    max-width: 5rem;
}

.columnaPatenteOrden {
    width: 10rem;
    max-width: 10rem;
}

.columnaLlegada {
    width: 5rem;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.columnaProblema {
    width: 45rem;
    max-width: 45rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.columnaPago {
    width: 3rem;
    max-width: 3rem;
}

.columnaDevolucion {
    width: 5rem;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btnOrden {
    width: 100%;
}
/* TABLA AUTOS */

.columnaPatente {
    max-width: 150px;
}

.columnaAnio {
    width: 100px;
}

/* TABLA PAGOS PENDIENTES */

.columnaFechaPendientes {
    width: 25px;
    max-width: 25px;
}

.columnaOrdenPendientes {
    width: 20px;
    max-width: 20px;
}

.columnaCobroPendientes {
    width: 35px;
    max-width: 35px;
}

.columnaPagoPendientes {
    width: 110px;
    max-width: 110px;
}

@media (max-device-width : 1165px) {
    html{
        font-size: .9rem;
    }

    .columnaProblema {
        width: 25rem;
        max-width: 25rem;
    }
}

@media (max-device-width : 768px) {
    html{
        font-size: .8rem;
    }
    .navbar {
        margin-bottom: unset;
    }

    /* .dtsp-titleRow{ TODO ordenas correctamente las columnas
        
    } */

    .columnaLlegada {
        display: none;
    }
    .columnaProblema {
        width: 10rem;
        max-width: 10rem;
    }
    .columnaDevolucion {
        display: none;
    }

    .logoComprobante{
        width: 10rem;
        height: auto;
    }
}